.data{
    display: flex;
    flex-wrap :wrap;
    padding-left: 5%;
    width: 100%;
    gap: 5%;
}

.filter{
    width: 20%;
    height: 688px;
    background-color: aqua;
}

.result{
    width: 70%;
    height: 100%;
    background-color: rgb(202, 240, 227);
}

.upper{
    margin-top: 20px;
    margin-left: 10%;
}

.pg_details{
    box-shadow: rgba(62, 24, 138, 0.35) 0px 5px 15px;
    margin-left: 2%;
    width : 40%;
    margin-top: 60px;
    padding: 15px 2%;
    margin-bottom: 20px;
}


.div_img{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    background-size: contain;
}


.pg_img{
    height: 200px;
    width: 500px;
    border-radius: 10px;
    border: 2px solid black;
    object-fit: cover;
}

.div_name{
    margin-top: 5px;
}


.div_name_logo{
    font-size: 20px;
    font-weight: 500;
    color: #041073;
}

.div_logo{
    padding-left: 2%;
}

.btn{
    color: #FFFFFF;
    background-color: #019fe9;
    border-radius: 10px;
    width: 30%;
    font-size: 12px;
}
