.data{
    display: flex;
    flex-wrap :wrap;
    padding-left: 5%;
    width: 100%;
    gap: 5%;
}

.filter{
    width: 20%;
    height: 688px;
    position: sticky;
    top: 65px;
    background-color: aqua;
}

.result{
    width: 70%;
    height: 100%;
    background-color: rgb(202, 240, 227);
}



.pg_details{
    box-shadow: rgba(62, 24, 138, 0.35) 0px 5px 15px;
    margin-left: 2%;
    width : 40%;
    margin-top: 60px;
    padding: 15px 2%;
    margin-bottom: 20px;
}


.div_img{
    margin-top: 20px;
    display: flex;
    /* justify-content: center; */
    background-size: cover;
}


.pg_img{
    height: 200px;
    width: fit-content;
    border-radius: 10px;
    border: 2px solid black;
    object-fit: contain;
}

.div_name{
    margin-top: 5px;
}


.div_name_logo{
    font-size: 20px;
    font-weight: 500;
    color: #041073;
}

.div_logo{
    padding-left: 2%;
}

.btn{
    color: #FFFFFF;
    background-color: #019fe9;
    border-radius: 10px;
    width: 30%;
    font-size: 12px;
}

.div_location{
    display: flex;
    flex-wrap: wrap;
}

.upper{
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    padding-left: 10%;
    height: 100px;
    z-index: 1;
    background-color: rgb(254, 255, 255);
    border-radius: 10px;
}

.drop{
    border: 2px solid blue;
    border-radius: 5px;
}

.sort_button{
    margin-left: 850%;
}

.sort_by_div{
    position: sticky;
    top: 50px;
}