.img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}


.component{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-top: 20px;
    justify-content: center;
}

@media screen and (width<469px) {
    
    .component{
        padding: 10px;
        gap: 10px;
    }

    .imgs{
        font-size: 15px;
    }
}
